.para
{
    margin-top:100px;
}
.para1
{
    margin-top:80px;
    color:white;
    box-shadow: 10px 5px 5px rgb(81, 80, 80);  
    background-color: black;
    margin-left:420px;
    margin-right:420px;
    padding-top:20px;
    padding-bottom:20px;
}