

.background-image {
    background-size: cover;
    background-position: center;
    height: 610px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}