.five
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 5px 5px rgb(23, 23, 23);  
  padding-top:40px;
  padding-bottom: 40px;
  margin-left:540px;
  margin-right:540px;
  background-color:rgba(159, 161, 161, 0.329);
  margin-bottom: 500px;
}
.four
{
  font-family:cursive;
  margin-top: 175px;
  color:rgb(72, 172, 234);

}