.second
{
  font-family:cursive;
  margin-top: 175px;
  color:black;

}
.third
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 5px 5px rgb(81, 80, 80);  
  padding-top:40px;
  padding-bottom: 40px;
  margin-left:540px;
  margin-right:570px;
  background-color:rgba(159, 161, 161, 0.329);
  color:rgb(5, 5, 5);
}
